@font-face {
  font-family: 'Moonhouse';
  src: url(Moonhouse-yE5M.ttf) format('truetype');
}

@font-face {
  font-family: 'GalacticBasic';
  src: url(GalacticBasic-rznB.ttf) format('truetype');
}

.galacticbasic {
  font-family: 'GalacticBasic';
}

.galacticbasic__darkgrey {
  font-family: 'GalacticBasic';
  font-size: 1.2rem;
  color: #444;
}

.galacticbasic__light {
  font-family: 'GalacticBasic';
  font-size: x-small;
}

.galacticbasic__light-darkgrey {
  font-family: 'GalacticBasic';
  font-size: x-small;
  color: #444;
}

.galacticbasic__small {
  font-family: 'GalacticBasic';
  font-size: xx-small;
  color: #444;
}