@font-face {
  font-family: 'DeathStar';
  src: url(./fonts/deathstar.otf) format('opentype');
  font-family: 'Moonhouse';
  src: url(./fonts/Moonhouse-yE5M.ttf) format('truetype');
  font-family: 'GalacticBasic';
  src: url(./fonts/GalacticBasic-rznB.ttf) format('truetype');
}

.galacticbasic {
  font-family: 'GalacticBasic';
}

.galacticbasic__darkgrey {
  font-family: 'GalacticBasic';
  font-size: 1.2rem;
  color: #444;
}

.galacticbasic__light {
  font-family: 'GalacticBasic';
  font-size: x-small;
}

.galacticbasic__light-darkgrey {
  font-family: 'GalacticBasic';
  font-size: x-small;
  color: #444;
}

.galacticbasic__small {
  font-family: 'GalacticBasic';
  font-size: xx-small;
  color: #444;
}